.container {
  margin-top: 42px;
  margin-bottom: 42px;
  background-color: #FFFFFF;

  @media (max-device-width: 1300px) {
    & {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  @media (max-device-width: 899px) {
    & {
      margin: 74px 2px 36px 2px;
    }
  }
}
:global(.react-photo-album--photo) {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    filter: grayscale(100%);
    transition: .1s ease-in-out;
  }
}
