.container {
  margin-top: 55px;
}

.header {
  display: flex;
  justify-content: center;
}

.spacer {
  width: 515px;
}

.back-icon {
  margin: 3px 0px 6px 16px;
}

.posts {
  font-size: 20px;
  font-weight: 550;
  margin-left: 32px;
}